.ImagemPrincipal{
    align-self:auto ;
    width: 50%;
    height: 20%;
    margin: 24%;
    padding: 0;
    box-shadow: rgba(105, 98, 98, 0.439) 40px -6px;
    border-radius: 400%;
    border: 10px solid rgb(105, 98, 98);
}

body {
    margin: 1,4;
}